/* sizing a box*/
*{
  box-sizing: border-box;
}
/* changeing your background color and text*/
body{
  background-color:rgb(0, 0, 0);
  color:blueviolet;
}
/* Style of the header */
.topnav{
  background-color: rgb(135, 0, 189);
  overflow: hidden;
}
.topnav a{
  color: whitesmoke;
  float:left;
  display:block;
  text-align: center;
  padding: 14px 16px;
}
.topnav a:hover{
  background-color:rgb(208, 127, 255);
  color:rgb(37, 0, 54);
}
.header{
  background-color: rgba(0, 0, 0, 0.486);
  padding:20px;
  text-align: center;
  color:blueviolet;
}
.column{
float: left;
width: 32.33%;
padding: 15px; 
border: double 5px white;
margin: 3px;
box-shadow: 5px 10px;
}
body {
  background-image: url('https://2.bp.blogspot.com/-56HtTfun4iU/XFYaXOoerLI/AAAAAAAAHRc/cMrgZKA7OTgJVEKjEawMv7IRHnA5DJLUgCLcBGAs/s2560/purple_wilderness-1920x1080.jpg');
  Background-size:100%
}
.header {
  border: 5px double white;
   padding: 10px;
  border-radius: 25px;
}

